repos {
    gof {
        key = "GoF"
        name = "Gang of Four"

        patterns {
            "Singleton" {
                roles = [
                    "Singleton",
                    "uniqueInstance"
                ]
            }
            "Factory Method" {
                roles = [
                    "Creator",
                    "FactoryMethod()"
                ]
            }
            "Prototype" {
                roles = [
                    "Client",
                    "Prototype",
                    "Operation()"
                ]
            }
            "(Object)Adapter" {
                roles = [
                    "Adaptee",
                    "Adapter",
                    "adaptee",
                    "Request()"
                ]
            }
            "Command" {
                roles = [
                    "Receiver",
                    "ConcreteCommand",
                    "receiver",
                    "Execute()"
                ]
            }
            "Composite" {
                roles = [
                    "Component",
                    "Composite",
                    "Operation()"
                ]
            }
            "Decorator" {
                roles = [
                    "Component",
                    "Decorator",
                    "component",
                    "Operation()"
                ]
            }
            "Observer" {
                roles = [
                    "Observer",
                    "Subject",
                    "Notify()"
                ]
            }
            "State" {
                roles = [
                    "Context",
                    "State",
                    "state",
                    "Request()"
                ]
            }
            "Strategy" {
                roles = [
                    "Context",
                    "Strategy",
                    "strategy",
                    "ContextInterface()"
                ]
            }
            "Bridge" {
                roles = [
                    "Implementor",
                    "Abstraction",
                    "implementor",
                    "Operation()"
                ]
            }
            "Template Method" {
                roles = [
                    "AbstractClass",
                    "TemplateMethod()"
                ]
            }
            "Visitor" {
                roles = [
                    "ConcreteElement",
                    "Visitor",
                    "Accept()"
                ]
            }
            "Proxy" {
                roles = [
                    "RealSubject",
                    "Proxy",
                    "Request()"
                ]
            }
            "Proxy2" {
                roles = [
                    "Proxy",
                    "RealSubject",
                    "Subject",
                    "subject",
                    "Request()"
                ]
            }
            "Chain of Responsibility" {
                roles = [
                    "Handler",
                    "successor"
                ]
            }
        }
    }
}